.button a {
    color: white;
}
.button {
    background: transparent;
    padding: 12px 20px 12px 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    border: 2px solid white;
}

.button:hover {
    background: white;
    border: 2px solid white;
    text-decoration: none;
    color: #3900bf;
}

.button a:hover {
    color: #3900bf;
    text-decoration: none;
}

@media (max-width: 1920px) {
    .button {
        font-size: 16px;
    }
}

@media (max-width: 1600px) {
    .button {
        font-size: 15px;
    }
}

@media (max-width: 1400px) {
    .button {
        font-size: 13px;
        padding: 12px 12px;
    }
}

@media (max-width: 992px) {
    .button {
        font-size: 12px;
        padding: 12px 12px;
    }
}

@media (max-width: 575.98px) {
    .btn-container {
        text-align: left;
    }
    .button {
        font-size: 12px;
        margin-top: 12px;
        width: 165px;
    }
}

@media (max-width: 768px) {
    .button {
        font-size: 13px;
        padding: 10px 15px;
        margin-top: 12px;
        
    }
}