.button a {
    color: white;
}
.button {
    background: linear-gradient(79deg, rgba(240,73,55,1) 0%, rgba(250,169,62,1) 100%);
    padding: 12px 12px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    border: 0.01px solid #faa93e;
}


@media (max-width: 1920px) {
    .button {
        font-size: 16px;
    }
}

  @media (max-width: 1600px) {
    .button {
        font-size: 16px;
    }
}

  @media (max-width: 1400px) {
    .button {
        font-size: 14px;
}
}

  @media (max-width: 992px) {
    .button {
        font-size: 12px;
        padding: 10px 10px;
}
}

@media (max-width: 575.98px) {
    .button {
        font-size: 13px;
        padding: 10px 17px;
        margin-top: 12px;
}
}