  .div-main {
    position: absolute;
  }
  
  .container-std {
    position: absolute;
  }
  .row-main {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(35,86,255,1) 0%, rgba(31,45,232,1) 26%, rgba(57,0,191,1) 55%);
  }

  /* .row-main:after {*/
  /*  content: '';*/
  /*  position: absolute ;*/
  /*  bottom: 0;*/
  /*  background: url(../images/wave.svg) repeat-x;*/
  /*  height: 300px;*/
  /*  width: 6400px;*/
  /*  height: 198px;*/
  /*  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;*/
  /*  transform: translate3d(0, 0, 0);*/
  /*} */

  .div-left {
    position: absolute;
    top: 5%;
    bottom: 0%;
    right:0%;
    left: 10%;
  }
  
  .div-right {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right:5%;
    left: 0%;
  }

  .row-text {
    background: teal;
    height: 60vh;
  }
  
  .col-picture {
    height: 100%;
  }
  
  .row-stats {
    height: 10%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
  }
  .col-stats {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 2000px) {
    /* .col-text {
      margin-top: 20%;
    } */
  }

@media (max-width: 992px) {
    .row-stats {
      width: 120%;
    }
}

@media (max-width: 768px) {
  /* .col-text {
    margin-top: 18%;
  } */
  .div-right {
    visibility: hidden;
  }
  .col-right {
    visibility: hidden;
  }
}

@media (max-width: 575.98px) {
  .div-left {
  left: 2%;
  right: 2%;
  top:5%;
  }
  .div-right {
    visibility: hidden;
  }
  .col-right {
    visibility: hidden;
  }
}
