.div-picture {
    width: 70%;
    transform: translate(15%, -30%);
}


@media (max-width: 1920px) {
    .div-picture {
        width: 95%;
        transform: translate(0%, -10%);
    }
}

  @media (max-width: 1600px) {
    .div-picture {
        width: 90%;
        transform: translate(5%, 10%);
    }
}

  @media (max-width: 1400px) {
    .div-picture {
        width: 100%;
        transform: translate(-5%, 10%);
    }
}

  @media (max-width: 992px) {
    .div-picture {
        width: 105%;
        transform: translate(0%, 50%);
    }
}

@media (max-width: 575.98px) {
    .div-picture {
        width: 70%;
        transform: translate(15%, -30%);
    }
}

@media (max-width: 768px) {
    .div-picture {
        width: 70%;
        transform: translate(15%, -30%);
    }
}